<!--Do I want to add a 96px lt green border on each side to arrive at width of 960px?-->
<div class="ecard_page" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

  <h1>Send eCard</h1>

  <% if @photo.present? %>
    <div class="message_photo">
      <img src='<%= @photo %>'>
    </div>
  <% end %>

  <%= form_for @message do |f| %>
    <div class="form_text_field_width">
      <p>
        <%= f.text_field :sender_name, :placeholder => 'Your name', :class=> "message_text_field"  %>
      </p>
      <p>
        <%= f.text_field :sender_email, :placeholder => 'Your email  (required)', :class=> "message_text_field"  %>
      </p>
      <p>
        <%= f.text_field :recipient_name, :placeholder => 'Recipient name', :class=> "message_text_field"  %>
      </p>
      <p>
        <%= f.text_field :recipient_email, :placeholder => 'Recipient email  (required)', :class=> "message_text_field" %>
      </p>
    </div>
    <div class="form_text_box_size">
      <p>
        <%= f.text_area :message, :placeholder => 'Type your message here (required)', :class=> "message_text_box" %>
      </p>
    </div>
    <p>
      <%= hidden_field_tag 'photo', @photo %>
      <%= f.submit 'Preview', :class=> "btn-preview" %>
      <%= f.submit 'Send', :class=> "btn-preview" %>
      <%= f.submit 'Cancel', :class=> "btn-preview" %>
  <% end %>
  </p>
</div>