<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div class="message_preview_page" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h3>eCard Preview:</h3>

  <p>Hi <%= @message.recipient_name %>!</p>
  You have received an ecard from <%= @message.sender_name %> at <%= @message.sender_email %>:<br>

  <p><img src="<%= @photo %>" alt="image for ecard taken from subreddit" width="768" height="480"></p>
  <p><%= @message.message %></p>

  <p>We hope you enjoyed the card and have a great day!</p>

<a href="<%= deliver_message_path(@message) %>">Send</a><br>
<a href="<%= new_message_path(@message) %>">Edit</a><br>
<a href="#">Cancel</a>
<!--CHECK IF 'Cancel' SHOULD LINK TO: <%#= photo_select_path(@photo) %>-->
</div>
</body>
</html>