<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div class="message_preview_page" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h1 class="ecard_preview_page_header">eCard Preview:</h1>
  <table>
    <tr>
      <td>
        Hi <%= @message.recipient_name %>!<br>

        <p>You have received an ecard from <%= @message.sender_name %> at <%= @message.sender_email %>:<br>
          We hope you enjoy the card and have a great day!</p><br>
      </td>
    </tr>
    <tr>
      <table style="border: 1px double #759185;">
        <tr>
          <td>
            <img src="<%= @photo %>" alt="image for ecard taken from subreddit" width="768" height="480">
          </td>
        </tr>
        <tr>
          <td style="padding: 5px;">
            <%= @message.message %>
            <br>
            <br>
          </td>
        </tr>
      </table>
    </tr>
  </table>
  <p>If this looks good to you, click send, otherwise edit or cancel</p>
  <div class="buttons_on_preview_page">
    <a href="<%= deliver_message_path(@message, :photo => @photo) %>" class="btn-preview">Send</a>
    <a href="<%= edit_message_path(@message, :photo => @photo) %>" class="btn-preview">Edit</a>
    <%= link_to "Cancel", photo_select_index_path, class:"btn-preview"%>


  </div>
</div>
</body>
</html>



