<!--  2/3 x 1/3 -->
<div class="photo_upload_container">
  <p>Upload Image</p>
  <%= form_for :photo_upload, :html => {:multipart => true}, url: "/photo_uploads" do |f| %>
    <%= f.label :name %>
    <%= f.file_field(:name) %>
    <%= f.submit "Upload Now" %>
  <% end %>
</div>
<% @earth_porn.each do |post| %>
  <div class="nature_photos_container">
    <%= image_tag(post["data"]["url"], :class => "style_image", width: "100%", height: "100%") %>
    <!--<%#= image_tag(post["data"]["url"], :class => "style_image", size: "320x163") %>-->
    <a href="<%= new_message_path(:photo => post['data']['url']) %>" class="button green">
      Create e-Card<br>With This Image
    </a>
  </div>
<% end %>

<div class="resetColumnSet"></div>


