<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body style="font-family: Roboto Condensed sans-serif; font-size: 18px">
<table>
  <tr>
    <td>
      Hi <%= @message.recipient_name %>!<br>
      You have received an ecard from <%= @message.sender_name %> at <%= @message.sender_email %>:<br>
    </td>
  </tr>
  <tr>
    <table style="border: 1px double #759185;">
      <tr>
        <td>
          <img src="<%= @photo %>" style="width: 768px; height: 480px; margin: 0 auto; margin-bottom: 25px"><br>
        </td>
      </tr>
      <tr>
        <td>
          <%= @message.message %><br>
          <br>
        </td>
      </tr>
    </table>
  </tr>

  <tr>
    <td>
      We hope you enjoyed the card and have a great day!
    </td>
  </tr>
</table>
</body>
</html>



