<h2> Edit Camera Reviews </h2>

<form action="/reviews/<%= @review.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <p>
    <label for="camera_make" class="form-label">Make</label>
    <input name="review[make]" id="camera_make" value="<%= @review.make %>">
  </p>

  <p>
    <label for="camera_model" class="form-label">Model</label>
    <input name="review[model]" id="camera_model" value="<%= @review.model %>"
  </p>

  <p>
    <label for="camera_review" class="form-label">Camera Review</label>
    <input name="review[camera_review]" id="camera_review" value="<%= @review.camera_review %>">
  </p>

  <p>
    <label for="camera_conclusion" class="form-label">Conclusion</label>
    <input name="review[conclusion]" id="camera_conclusion" value="<%= @review.conclusion %>"
  </p>

  <p>
    <label for="sample_photo" class="sample_photo">Sample Photo</label>
    <input name="review[sample_photo]" id="sample_photo" type="file">
  </p>

  <p>
    <input type="submit" value="Update Review" class="form-button">
  </p>
</form>