<a class="nav-link" href="/reviews/new">Add New Review</a>

<h2>Camera Reviews</h2>

<table class="table-standard">
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Camera Review</th>
    <th>Conclusion</th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td>
        <a href="/reviews/<%= review.id %>">
          <%= review.make %>
        </a>
      </td>
      <td>
        <a href="/reviews/<%= review.id %>">
          <%= review.model %>
        </a>
      </td>
      <td>
        <a href="/reviews/<%= review.id %>">
          <%= review.camera_review %>
        </a>
      </td>
      <td>
        <a href="/reviews/<%= review.id %>">
          <%= review.conclusion %>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
