<form action="/reviews/<%= @review.id %>/edit" method="get">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="submit" value="Edit This Review">
</form>

<form action="/reviews/<%= @review.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="submit" value="Delete This Review">
</form>


<h2> Showing Review </h2>

<dl class="attributes">
  <dt>Make</dt>
  <dd><%= @review.make %></dd>
  <dt>Model</dt>
  <dd><%= @review.model %></dd>
  <dt>Camera Review</dt>
  <dd><%= @review.camera_review %></dd>
  <dt>Conclusion</dt>
  <dd><%= @review.conclusion %></dd>
</dl>
